{% extends 'base.html.twig' %}

{# Permet de surcharger le bloc nav de la page de base on peut ajouer quelque chose avant en mettant {{ parent() }} après#}
{% block nav %}
    fdgdfgdgdgdfgdfg
    {{ parent() }}
{% endblock nav %}

{% block body %}
    <form action="" class="form">
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
    </form>
{% endblock body %}
