<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if app.request.get('_route') == 'default_index' %} active {% endif %}" href="{{ path('default_index') }}">
                        Accueil</a>
                    <a class="nav-item nav-link {% if app.request.get('_route') == 'default_conditions' %} active {% endif %}" href="{{ path('default_conditions') }}">
                        Conditions</a>
                    <a class="nav-item nav-link {% if app.request.get('_route') == 'default_contact' %} active {% endif %}" href="{{ path('default_contact') }}">
                        Contact</a>
                    <a class="nav-item nav-link {% if app.request.get('_route') == 'contentPages_annonces' %} active {% endif %}" href="{{ path('contentPages_annonces') }}">
                        Annonces</a>
                </div>
            </div>
        </nav>
    {% endblock nav %}
    {% block body %}

        <script !src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
    {% endblock %}
</body>
</html>
